	<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			Kategori: {{ category?.name || hash }}
			{{ category?.musics_count ? '(' + category.musics_count + ')' : '' }}</ion-title>

		<ion-buttons right>
			<nav-buttons></nav-buttons>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content>
	<mp-spinner *ngIf="showLoader"></mp-spinner>

	<div padding *ngIf="errorMessage">
		<p class="error box" padding>{{errorMessage}}</p>
	</div>

	<ion-list *ngIf="musics">

		<ion-card *ngFor="let music of musics" (click)="goToMusicDetailPage(music)">

			<img src="{{music.image_url}}" alt="{{ music.title }}"/>

			<ion-card-content>
				<ion-card-title>
					{{music.title}}
				</ion-card-title>
			</ion-card-content>

			<ion-row no-padding>
				<ion-col>
					<button ion-button clear small color="dark" icon-start>
					<ion-icon name='folder'></ion-icon>
						{{ category.name }}
					</button>
				</ion-col>
				<ion-col>
					<button ion-button clear small color="dark" icon-start>
					<ion-icon name='play'></ion-icon>
					{{music.play}} Ekout
					</button>
				</ion-col>
				<ion-col text-right>
					<button ion-button clear small color="dark" icon-start>
					<ion-icon name='download'></ion-icon>
					{{music.download}} Telech.
					</button>
				</ion-col>
			</ion-row>
		</ion-card>
	</ion-list>

	<div class="center-container" *ngIf="musics && musics.length == 0">
		<p><ion-icon name="information-circle"></ion-icon> Pa gen mizik nan kategori {{category?.name}}</p>
	</div>

	<ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="musics">
    	<ion-infinite-scroll-content
			loadingSpinner="bubbles"
			loadingText="Chajman plis mizik...">
    	</ion-infinite-scroll-content>
  	</ion-infinite-scroll>
</ion-content>
