<ion-content padding class="grey">
	<logo-header [title]="title" icon="log-in"></logo-header>

	<div [hidden]="! errorMessage">
		<p class="error box" padding>{{errorMessage}}</p>
	</div>

	<div  [hidden]="! successMessage">
		<p class="success box" padding>{{successMessage}}</p>
	</div>

	<button ion-button block round icon-left large color="facebook" (click)="loginWithFacebook()">
		<ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
		Facebook &nbsp;
		<!-- <ion-spinner color="light" [hidden]="! showLoader"></ion-spinner> -->
	</button>

	<!-- <p class="dividerText" text-center>{{ lang.get('or') }}</p> -->

	<p class="divider-headline text-center">
		<span>{{ lang.get('or') }}</span>
	</p>

	<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
		<ion-list>
			<ion-item class="transparent" no-padding>
				<ion-label floating>{{ lang.get('email') }}</ion-label>
				<ion-input formControlName="email" type="email" focus></ion-input>
			</ion-item>

			<ion-item class="transparent" no-padding>
				<ion-label floating>{{ lang.get('password') }}</ion-label>
				<ion-input formControlName="password" type="password"></ion-input>
			</ion-item>

			<br>

			<button ion-button round block large type="submit" [disabled]="! loginForm.valid || disableForm">
				{{ lang.get('login') }} &nbsp;
				<ion-spinner color="light" [hidden]="! showLoader"></ion-spinner>
			</button>
		</ion-list>
	</form>
	<br>
	<ion-row>
		<ion-col no-padding>
			<a (click)="openSignupPage()">
				<ion-icon name="person-add"></ion-icon>
				{{ lang.get('create_account') }}
			</a>
		</ion-col>
		<ion-col text-right no-padding>
			<a (click)="openPasswordRecoveryPage()">
				<ion-icon name="log-in"></ion-icon>
				{{ lang.get('forgot_password') }}
			</a>
		</ion-col>
	</ion-row>
</ion-content>