<ion-content>
	<logo-header [title]="title" icon="key"></logo-header>

	<div padding [hidden]="! errorMessage">
		<p class="error box" padding>{{ errorMessage }}</p>
	</div>

	<div padding [hidden]="! infoMessage">
		<p class="info box" padding>{{ infoMessage }}</p>
	</div>

	<form [formGroup]="recoveryForm" (ngSubmit)="recover()" novalidate [hidden]="! showRecoveryForm">
		<ion-list>
			<ion-item>
				<ion-label floating>Imel</ion-label>
				<ion-input formControlName="email" type="email" focus></ion-input>
			</ion-item>

			<ion-item>
				<button ion-button block icon-left large type="submit" [disabled]="! recoveryForm.valid || disableForm">
					Rekipere &nbsp; <ion-spinner color="light" [hidden]="! showLoader"></ion-spinner>
				</button>
			</ion-item>
		</ion-list>
	</form>

	<form [formGroup]="verificationForm" (ngSubmit)="verify()" novalidate [hidden]="! showVerificationForm">
		<ion-list>
			<ion-item>
				<ion-label floating>Kòd</ion-label>
				<ion-input formControlName="code" type="text"></ion-input>
			</ion-item>
	
			<ion-item>
				<button ion-button block icon-left large type="submit" [disabled]="! verificationForm.valid || disableForm">
					Verifye Kòd &nbsp; <ion-spinner color="light" [hidden]="! showLoader"></ion-spinner>
				</button>
			</ion-item>
		</ion-list>
	</form>

	<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" novalidate [hidden]="! showPasswordForm">
		<ion-list>
			<ion-item>
				<ion-label floating>Nouvo Modpas</ion-label>
				<ion-input formControlName="password" type="password"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating>Konfimasyon Nouvo Modpas</ion-label>
				<ion-input formControlName="password_confirmation" type="password"></ion-input>
			</ion-item>
			<ion-item *ngIf="passwordForm.hasError('nomatch')">
				<p>yeah hello world bitch</p>
			</ion-item>
	
			<ion-item>
				<button ion-button block icon-left large type="submit" [disabled]="! passwordForm.valid || disableForm">
					Chanje Modpas &nbsp; <ion-spinner color="light" [hidden]="! showLoader"></ion-spinner>
				</button>
			</ion-item>
		</ion-list>
	</form>

	<hr>

	<div padding>
		<button ion-button block icon-left large (click)="openLoginPage()">
			Koneksyon
		</button>
		<button ion-button large icon-left block (click)="openSignupPage()">
			Kreye Kont
		</button>
	</div>
</ion-content>