<div class="player">
	<img src="{{image}}"/>
	
	<div class="progress">
		<span class="player_time-elapsed">{{elapsed}}</span>
		<progress value="{{current}}" max="1"></progress>
		<span class="player_time-total">{{total}}</span>
	</div>
	
	<div class="controls">
		<div class="player_backward">
			<button (click)="backward.emit()"><i class="fa fa-backward"></i></button>
		</div>
	
		<div class="player_main">
			<button *ngIf="paused" (click)="pauseplay.emit()"><i class="fa fa-pause"></i></button>
			<button *ngIf="!paused" (click)="pauseplay.emit()"><i class="fa fa-play"></i></button>
			<button (click)="stop.emit()"><i class="fa fa-stop"></i></button>
			<button (click)="random.emit()"><i class="fa fa-random"></i></button>
		</div>
	
		<div class="player_forward">
			<button (click)="forward.emit()"><i class="fa fa-forward"></i></button>
		</div>
	</div>
</div>
