<button (click)="callback($event)" ion-button icon-left block>
   <ion-icon name="{{ icon }}"></ion-icon>
   {{ buttonText }}
 </button>
 <input type="file" (change)="filesAdded($event)" style="display: none" multiple #input />