<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ music?.title }}</ion-title>

		<ion-buttons right>
			<nav-buttons></nav-buttons>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="{{music?.image}}" alt="{{ music?.title }}" />
	</ion-card>

	<ion-item no-lines *ngIf="music?.artist" (click)="viewArtistPage(music.artist)" class="transparent">
		<ion-avatar item-left>
			<img src="{{music.artist.avatar}}">
		</ion-avatar>
		<h2><ion-icon name="microphone"></ion-icon> {{ music.artist.stageName }}</h2>
	</ion-item>

	<hr>
	<!--row play/Favorite/Share-->
	<ion-grid>
		<ion-row text-center>
			<ion-col>
				<button ion-button icon-only color="dark" (click)="play(music)" [hidden]="playing" title="Jwe">
					<ion-icon name='play'></ion-icon>
				</button>
				<button ion-button icon-only color="dark" (click)="pause(music)" [hidden]="!playing" title="Poz">
					<ion-icon name='pause'></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-only color="dark" (click)="favorite(music)" [hidden]="isFavorited" title="Renmen">
					<ion-icon name='heart-outline'></ion-icon>
				</button>
				<button ion-button icon-only color="dark" (click)="unfavorite(music)" [hidden]="!isFavorited" title="Sispann Renmen">
					<ion-icon name='heart'></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-only color="dark" (click)="download(music)" [attr.disabled]="downloaded ? '' : null" title="Telechaje">
					<ion-icon name='download'></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-only color="dark" (click)="showShare = !showShare" title="Pataje">
					<ion-icon name='share'></ion-icon>
				</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<hr *ngIf="showShare">
			</ion-col>
		</ion-row>
		<ion-row *ngIf="showShare" text-center>
			<ion-col>
				<button ion-button icon-only round  color="primary" (click)="shareViaEmail(music)" title="Pataje sou imel">
					<ion-icon name='mail' large></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-only round  color="facebook" (click)="shareVia(music, 'Facebook')" title="Pataje sou imel">
					<ion-icon name='logo-facebook' large></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-only round  color="twitter" (click)="shareVia(music, 'Twitter')" title="Pataje sou imel">
					<ion-icon name='logo-twitter' large></ion-icon>
				</button>
			</ion-col>
			<ion-col>
				<button ion-button icon-only round color="whatsapp" (click)="shareVia(music, 'WhatsApp')" title="Pataje sou imel">
					<ion-icon name='logo-whatsapp' large></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<hr>

	<ion-grid>
		<ion-row>
			<ion-col>
				<button ion-button clear icon-left color="dark" (click)="goToSingleCategoryPage(music.category)">
					<ion-icon name='folder'></ion-icon> {{ music?.category.name }}
				</button>
			</ion-col>
			<ion-col>
				<button ion-button clear icon-left color="dark">
					<ion-icon name='headset'></ion-icon> {{ music?.play_count }}
				</button>
			</ion-col>
			<ion-col>
					<button ion-button clear icon-left color="dark">
						<ion-icon name='download'></ion-icon> {{ music?.download_count }}
					</button>
				</ion-col>
		</ion-row>
	</ion-grid>

	<hr>
	<!-- Music Segments -->
	<ion-segment [(ngModel)]="musicDetails" color="dark">
		<ion-segment-button value="details">
			<!-- <ion-icon name="information-circle"></ion-icon> -->
			Detay
		</ion-segment-button>
		<ion-segment-button value="musics">
			<!-- <ion-icon name="musical-note"></ion-icon> -->
			Mizik Lye
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="musicDetails">
		<ion-list *ngSwitchCase="'musics'" no-lines>
			<ion-item margin-bottom *ngFor="let music of relatedMusics" (click)="goToMusicDetailPage($event, music)">
				<ion-thumbnail item-left>
					<img src="{{music.image}}" alt="{{ music.title }}"/>
				</ion-thumbnail>
				<h2>{{ music.title }}</h2>
				<p>Kategori: {{music.category.name}}</p>
				<ion-badge item-end>
					<ion-icon name="play"></ion-icon> {{music.play_count}}
					<br>
					<br>
					<ion-icon name="download"></ion-icon> {{music.download_count}}
				</ion-badge>
			</ion-item>
			<ion-item text-wrap class="transparent">
				<ion-icon name="warning"></ion-icon>
				Nou pa jwenn mizik nan menm kategori {{music?.category.name}}</ion-item>
		</ion-list>

		<div *ngSwitchCase="'details'" padding>
			<div class="spinner-container" *ngIf="showLoader">
				<ion-spinner text-center name="bubbles"></ion-spinner>
			</div>

			{{ music?.detail }}
		</div>
	</div>
</ion-content>