<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		<ion-title text-center>
			<img alt="logo" src="assets/images/logo-trans-white-stoke-black-shadow.png">
		</ion-title>

		<ion-buttons right>
			<nav-buttons></nav-buttons>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	Paj akèy aplikasyon an.
	<br> Aplikasyon an ap fèt. Li poko fini.
	<br>

	<button ion-button secondary menuToggle>Ouvri meni an.</button>
	<button ion-button secondary icon-left (click)="openMusicsPage()">
		<ion-icon name="musical-notes"></ion-icon> Mizik
	</button>

	<button ion-button secondary (click)="showBannerAd()">Show Banner</button>
	<button ion-button secondary (click)="showInterstitialAd()">Show Interstitial</button>
	<button ion-button secondary (click)="showRewardVideoAd()">Show Reward</button>
	<button ion-button secondary (click)="hideBannerAd()">Fèmen banner ads</button>
	<button ion-button secondary (click)="playMusic()">play</button>

	<p *ngIf="auth.isLoggedIn()">
		The user {{auth.user?.name}} is logged in and is {{ auth.user?.role }}
	</p>
	<p *ngIf="! auth.isLoggedIn()">
		Not logged in soccer.
	</p>

	<!--<form>
		<input type="file" (change)="preview($event)" name="image"><br>
		<img src="{{imageData}}" height="200" alt="Image preview...">
		<hr>
		<input type="file" (change)="preview($event)" name="music"><br>
		<audio controls src="http://mp3pam-server.test/assets/audio/placeholder-music.mp3">
		</audio>
	</form>-->

	<img *ngFor="let src of imgSrcs" src="{{src}}" alt="">

	<upload-button (filesChange)="getImage($event)" buttonText="Chwazi Imaj" icon="image">
	</upload-button>
	<img src="{{ imgSrc }}" height="200" alt="Image preview...">

	<upload-button (filesChange)="getAudio($event)" buttonText="Chwazi Mizik" icon="musical-notes">
	</upload-button>
	<audio controls src="{{ audioSrc }}" controls #audio></audio>
</ion-content>