<ion-header>
	<ion-navbar backButtonText="tounen" color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Jwenn Èd</ion-title>

		<ion-buttons right>
			<nav-buttons></nav-buttons>
		</ion-buttons>
  	</ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
