<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		<ion-title>Kategori</ion-title>

		<ion-buttons right>
			<nav-buttons></nav-buttons>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content>
	<mp-spinner *ngIf="showLoader"></mp-spinner>

	<div padding *ngIf="errorMessage">
		<p class="error box" padding>{{errorMessage}}</p>
	</div>

	<ion-list *ngIf="categories" no-lines>
		<!--<ion-item *ngFor="let category of categories" (click)="goToSingleCategoryPage(category)">
			<h2>{{ category.title }}</h2>
				<button ion-button clear small color="dark" icon-start>
					<ion-icon name='folder'></ion-icon>
					{{ category.name }}
				</button>
		</ion-item>-->
		<ion-item *ngFor="let category of categories" (click)="goToSingleCategoryPage(category)" class="transparent">
			<ion-icon name='folder' item-left></ion-icon>
			{{ category.name }}
			<ion-note item-end>
        		({{category.musics_count}})
     	 	</ion-note>
		</ion-item>
	</ion-list>
</ion-content>
