<ion-header>
	<ion-navbar backButtonText="tounen"  color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Mete Mizik</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content>
	<mp-spinner *ngIf="showLoader"></mp-spinner>
</ion-content>
