// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.center-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    // vertical-align: middle;
}

.round { border-radius: 50%; }

.half-width { width:50%; }

.box {
    color: #7b7b7b;
}

.error {
    border: 1px solid #ea6153;
}

.info {
    border: 1px solid #25a3ec;
}

.success {
    border: 1px solid #2ec95c;
}

.warning {
    border: 1px solid #da9b27;
}

// a {
//    color: primary;
// }

// h1, h2, h3, h4, h5, h6 {
//     color: primary;
// }

// .dividerText {
//     // border-bottom: 2px solid #808080;
//     // text-align: center;

//     // h3 {
//     //     overflow: hidden;
//     //     position: relative;
//     //     line-height: 24px;
//     //     white-space: nowrap;
//     //     text-transform: uppercase;
//     //     bottom: -12px;
//     //     display: inline-block;
//     //     max-width: 80%;
//     //     border:  solid #fff;
//     //     border-width: 0 20px;
//     //     font-size: 18px;
//     //     background: #fff;
//     // }
//     padding: 1% 0 1% 0;
//     border-top:1px solid map-get($colors, primary);
//     border-bottom: 1px solid map-get($colors, primary);
//     text-align: center;
//     color: #b1b1b1;
// }

.divider-headline {
    position: relative;
    margin-bottom: 10px;
    text-align: center;

    span {
        position: relative;
        z-index: 1;
        font-size: 13px;
        font-weight: 700;
        line-height: 22px;
        background: map-get($colors, grey);
        display: inline-block;
        padding: 0 10px;
        margin: 0 0 0 10px;
    }

    &:after {
        background: #fa80ae;
        position: absolute;
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        top: 55%;
        left: 0;
        right: 0;
    }
}

.bg-grey {
    background-color: map-get($colors, grey);
}

.artist-name {
    color: rgb(79, 79, 79);
}

.transparent {
    background-color: transparent;
}

.round25 {
    border: 1px solid black;
    border-radius: 25%;
}