<ion-menu [content]="content">
	<ion-header>
    	<ion-toolbar color="primary">
      		<ion-title>Meni</ion-title>
    	</ion-toolbar>
  	</ion-header>

  	<ion-content>
		<ion-list no-lines *ngIf="auth.isLoggedIn()" padding-top>
			<ion-item (click)="openProfilePage()" menuClose class="transparent">
				<ion-avatar item-start>
					<img src="{{ auth.user?.avatar }}" alt="{{ auth.user?.name }}"/>
				</ion-avatar>
				<h2>{{ auth.user?.name }}</h2>
			</ion-item>
		</ion-list>



		<ion-list no-lines>
			<button menuClose ion-item
				*ngFor="let p of pages"
				(click)="openPage(p)" class="transparent">
				<ion-icon [name]="p.icon" item-left></ion-icon>
				{{p.title}}
			</button>
		</ion-list>

		<ion-list no-lines *ngIf="auth.isLoggedIn()">
			<button menuClose ion-item
				(click)="logout()" class="transparent">
				<ion-icon name="log-out" item-left></ion-icon>
				{{ lang.get('logout') }}
			</button>
		</ion-list>

  	</ion-content>
</ion-menu>

<!-- <ion-menu  [content]="content" id="audio-player" side="right" type="reveal">
	<audio-player></audio-player>
</ion-menu> -->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>