<ion-header>
  	<ion-navbar color="primary">
    	<ion-title><ion-icon name="microphone"></ion-icon> {{ artist?.stageName }}</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<img src="{{ artist?.avatar }}" alt="{{ artist?.stageName }}"/>
	</ion-card>

	<ion-segment [(ngModel)]="artistDetails">
		<ion-segment-button value="bio">
			Biyografi
		</ion-segment-button>
		<ion-segment-button value="musics">
			<ion-icon name="musical-notes"></ion-icon> Mizik
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="artistDetails">
		<ion-list *ngSwitchCase="'musics'">
			<ion-item *ngFor="let music of musics" (click)="goToMusicDetailPage($event, music)">
				<ion-thumbnail item-left>
					<img src="{{music.image_url}}" alt="{{ music.title }}"/>
				</ion-thumbnail>
				<h2>{{ music.title }}</h2>
				<p>Hayao Miyazaki • 1988</p>
				<button ion-button clear item-right>
					<ion-icon name="play"></ion-icon>
				</button>
			</ion-item>
		</ion-list>

		<div *ngSwitchCase="'bio'" padding>
			<p>
				{{artist.bio}}
			</p>
		</div>

	</div>
</ion-content>
