<ion-header>
	<ion-navbar color="primary" backButtonText="tounen">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Favori</ion-title>

		<ion-buttons right>
			<nav-buttons></nav-buttons>
		</ion-buttons>
  	</ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>