<ion-header>
	<ion-navbar color="primary">
		<ion-title>{{ searchTerm || 'Chèche mizik ak atis' }}</ion-title>
	</ion-navbar>
	<ion-toolbar color="primary">
		<ion-searchbar
			[(ngModel)]="searchTerm"
			[showCancelButton]="true"
			(ionInput)="search()"
			(ionCancel)="onCancelOrClear()"
			(ionClear)="onCancelOrClear()"
			debounce="1000"
			placeholder="Tape pou w chèche...">
		</ion-searchbar>
	</ion-toolbar>
	<ion-toolbar color="dark" [hidden]="! showSegmentTab">
		<ion-segment [(ngModel)]="tabResults" color="light">
			<ion-segment-button value="musics">
				Mizik {{ musics.length > 0 ? '(' + musics.length + ')' : ''}}
			</ion-segment-button>
			<ion-segment-button value="artists">
				Atis {{ artists.length > 0 ? '(' + artists.length + ')' : ''}}
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>
	<mp-spinner [hidden]="! showLoader"></mp-spinner>

	<div [ngSwitch]="tabResults" [hidden]="! showSegmentTab">

		<div *ngSwitchCase="'musics'">
			<p *ngIf="showBreakTags">
				<br>
				<br>
			</p>
			<ion-list [hidden]="musics.length === 0" no-lines>
				<ion-item margin-bottom *ngFor="let music of musics" (click)="goToMusicDetailPage($event, music)">
					<ion-thumbnail item-left>
						<img src="{{music.image}}" alt="{{ music.title }}"/>
					</ion-thumbnail>
					<h2>{{ music.title }}</h2>
					<p>{{music.artist}}</p>
					<p><i>{{music.category}}</i></p>
					<ion-badge item-end>
						<ion-icon name="play"></ion-icon>
					</ion-badge>
				</ion-item>
			</ion-list>

			<div [hidden]="musics.length > 0" text-center padding>
				<h3>Pa gen rezilta mizik!</h3>
				<p>
					Nou pa jwenn okenn mizik pou "<b>{{ searchTerm }}</b>". <br>
					Tcheke tab atis la, ki pi wo a dwat la, pou w wè rezilta pou atis.
				</p>
			</div>
		</div>

		<div *ngSwitchCase="'artists'">
			<ion-list [hidden]="artists.length === 0" no-lines>
				<ion-item margin-bottom *ngFor="let artist of artists" (click)="goToArtistDetailPage($event, artist)">
					<ion-thumbnail item-left>
						<img src="{{artist.avatar}}" alt="{{ artist.stageName }}"/>
					</ion-thumbnail>
					<h2>{{ artist.stageName }}</h2>
					<!-- <p>{{artist.artist}}</p>
					<p><i>{{artist.category}}</i></p> -->
					<ion-badge item-end>
						<ion-icon name="microphone"></ion-icon>
					</ion-badge>
				</ion-item>
			</ion-list>

			<div [hidden]="artists.length > 0" text-center padding>
				<h3>Pa gen rezilta atis!</h3>
				<p>
					Nou pa jwenn okenn atis pou "<b>{{ searchTerm }}</b>". <br>
					Tcheke tab mizik la, ki pi wo a goch la, pou w wè rezilta pou mizik.
				</p>
			</div>
		</div>

	</div>

</ion-content>