<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			{{audioProvider.currentTrack?.artist.stageName}} - {{ audioProvider.currentTrack?.title }}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<div class="player">
		<img src="{{audioProvider.currentTrack?.image}}"/>

		<h3 text-center>
			{{audioProvider.currentTrack?.title}} <br>
			<small class="artist-name" (click)="viewArtistPage(audioProvider.currentTrack?.artist)">
				{{audioProvider.currentTrack?.artist.stageName}}
			</small>
		</h3>

		<div class="progress">
			<ion-range
				min="0"
				color="primary"
				[max]="audioProvider.audio.duration"
				[(ngModel)]="audioProvider.audio.currentTime">
				<ion-label range-left>{{audioProvider.elapsed}}</ion-label>
				<ion-label range-right>{{audioProvider.duration}}</ion-label>
			</ion-range>
		</div>

		<div class="controls">
			<ion-grid>
				<ion-row text-center>
					<ion-col>
						<button clear ion-button icon-only (click)="audioProvider.audio.loop = !audioProvider.audio.loop">
							<ion-icon name="repeat" [color]="audioProvider.audio.loop ? 'primary' : 'dark'"></ion-icon>
						</button>
					</ion-col>
					<ion-col>
						<button clear ion-button icon-only (click)="audioProvider.previous()" [disabled]="audioProvider.playedTracks.length < 2">
							<ion-icon name="skip-backward" color="dark"></ion-icon>
						</button>
					</ion-col>
					<ion-col class="round25">
						<button ion-button clear icon-only (click)="audioProvider.playOrResume()" *ngIf="audioProvider.audio.paused" [color]="audioProvider.audio.paused ? 'dark' : 'primary'">
							<ion-icon name="play"></ion-icon>
						</button>
						<button ion-button clear icon-only (click)="audioProvider.pause()" *ngIf="!audioProvider.audio.paused" [color]="audioProvider.audio.paused ? 'dark' : 'primary'">
							<ion-icon name="pause"></ion-icon>
						</button>
					</ion-col>
					<ion-col>
						<button clear ion-button icon-only (click)="audioProvider.next()" [disabled]="audioProvider.playedTracks.length < 2">
							<ion-icon name="skip-forward" color="dark"></ion-icon>
						</button>
					</ion-col>
					<ion-col>
						<button clear ion-button icon-only (click)="audioProvider.isShuffled = !audioProvider.isShuffled" [disabled]="audioProvider.playedTracks.length < 2">
							<ion-icon name="shuffle" [color]="audioProvider.isShuffled ? 'primary' : 'dark'" (click)="audioProvider.onShuffle = !audioProvider.onShuffle"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>
</ion-content>
