<button ion-button icon-only color="dark" (click)="displayFavorites()">
	<ion-icon name="heart"></ion-icon>
</button>
<button ion-button icon-only color="dark" (click)="displaySearch()">
	<ion-icon name="search"></ion-icon>
</button>
<button ion-button icon-only color="dark" (click)="displayAudioPlayer()">
	<ion-icon name="play" *ngIf="audioProvider.audio.paused"></ion-icon>
	<ion-icon name="pause" *ngIf="!audioProvider.audio.paused"></ion-icon>
</button>