<ion-content>
	<logo-header [title]="title" icon="person-add"></logo-header>

	<ion-list>
		<ion-item>
		<ion-label color="primary">Inline Label</ion-label>
		<ion-input placeholder="Text Input"></ion-input>
		</ion-item>

		<ion-item>
		<ion-label color="primary" fixed>Fixed Label</ion-label>
		<ion-input type="tel" placeholder="Tel Input"></ion-input>
		</ion-item>

		<ion-item>
		<ion-input type="number" placeholder="Number Input with no label"></ion-input>
		</ion-item>

		<ion-item>
		<ion-label color="primary" stacked>Stacked Label</ion-label>
		<ion-input type="email" placeholder="Email Input"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label color="primary" stacked>Stacked Label</ion-label>
			<ion-input type="password" placeholder="Password Input"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label color="primary" floating>Floating Label</ion-label>
			<ion-input></ion-input>
		</ion-item>

		<ion-item>
			<ion-input placeholder="Clear Input" clearInput></ion-input>
		</ion-item>

		<ion-item>
			<ion-textarea placeholder="Enter a description"></ion-textarea>
		</ion-item>

		<ion-item>
			<button ion-button large icon-left block (click)="signup()">
				Kreye kont &nbsp; <ion-spinner color="light" [hidden]="! showLoader"></ion-spinner>
			</button>
		</ion-item>
	</ion-list>
	<p padding>
		Si ou deja gen yon kont <a (click)="openLoginPage()">konekte w.</a>
	</p>

</ion-content>
