<ion-header>
	<ion-navbar color="primary" backButtonText="tounen">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Mizik</ion-title>

		<ion-buttons right>
			<nav-buttons></nav-buttons>
		</ion-buttons>
  	</ion-navbar>
</ion-header>

<ion-content>
	<mp-spinner *ngIf="showLoader"></mp-spinner>

	<ion-refresher (ionRefresh)="reload($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown"
      		pullingText="Glise desann pou rafrechi."
      		refreshingSpinner="circles"
			refreshingText="Chajman mizik...">
		</ion-refresher-content>
	</ion-refresher>


  	<ion-list no-lines>
		<ion-item margin-bottom *ngFor="let music of musics" (click)="goToMusicDetailPage($event, music)">
			<ion-thumbnail item-left>
				<img src="http://lorempixel.com/80/80/" alt="{{ music.title }}"/>
			</ion-thumbnail>
			<h2>{{ music.title }}</h2>
			<p>{{music?.artist.stageName}}</p>
			<p><i>{{music?.category.name}}</i></p>
			<ion-badge item-end>
				<ion-icon name="play"></ion-icon>
			</ion-badge>
		</ion-item>

		<!-- <ion-card *ngFor="let music of musics" (click)="goToMusicDetailPage($event, music)">

			<img src="{{music.image}}" alt="{{ music.title }}"/>

			<ion-card-content>
				<ion-card-title>
					{{music.title}}
				</ion-card-title>
			</ion-card-content>

			<ion-row no-padding>
				<ion-col>
					<button ion-button clear small color="dark" icon-start>
					<ion-icon name='folder'></ion-icon>
						{{ music.category.name }}
					</button>
				</ion-col>
				<ion-col>
					<button ion-button clear small color="dark" icon-start>
					<ion-icon name='play'></ion-icon>
					{{music.play}} Ekout
					</button>
				</ion-col>
				<ion-col text-right>
					<button ion-button clear small color="dark" icon-start>
					<ion-icon name='download'></ion-icon>
					{{music.download}} Telech.
					</button>
				</ion-col>
			</ion-row>
		</ion-card> -->
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="loadMore($event)">
    	<ion-infinite-scroll-content
			loadingSpinner="bubbles"
			loadingText="Chajman plis mizik...">
    	</ion-infinite-scroll-content>
  	</ion-infinite-scroll>
</ion-content>